<form class="col-md-4 col-md-offset-4" id="formRegister">
    <h2 class="form-register-heading">Please Register</h2>
    <label for="registerUser">Name</label>
    <input type="text"  id="registerUser" class="form-control" placeholder="User Name" required autofocus>
    <label for="registerPass">Password</label>
    <input type="password" id="registerPass" class="form-control" placeholder="Password" required>
    <!-- TODO Add confirm password and functionality -->
    <div class="checkbox">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="button" id="registerBtn">Register</button>
</form>