@import "normalize.css";
@import "navbar.css";

body{
    background: url('../images/ignasi_pattern_s.png');
    overflow-x: hidden;
}
.jumbotron{
    background: #F57D02;
    color: #FFF9C4;
}
.jumbotron a{
    color: #eee;
    border: 1px solid #eee;
    transition: all .2s ease-in;
}
.jumbotron a:hover{
    background: rgba(255,255,255,.4);
}
.navbar-brand{
    position: relative;
}
.navbar-brand img{
    width: 48px;
    float: left;
    margin: -15px 10px -5px 0;
}
#contentWrap{
    margin-top: 50px;
}
footer{
    text-align: center;
}